<?xml version="1.0"?>
<!--
  ~ Copyright © GhostUnicorns spa. All rights reserved.
  ~ See LICENSE and/or COPYING.txt for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Logger start -->
    <virtualType name="GhostUnicorns\CrtImporterCategory\Logger\Virtual"
                 type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="name" xsi:type="string">GhostUnicorns::ImporterCategory</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">
                    GhostUnicorns\CrtBase\Logger\Handler\Console
                </item>
                <item name="system" xsi:type="object">
                    GhostUnicorns\CrtImporterCategory\Logger\Handler\File\Virtual
                </item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Logger\Handler\File\Virtual"
                 type="GhostUnicorns\CrtBase\Logger\Handler\File">
        <arguments>
            <argument name="config" xsi:type="object">
                GhostUnicorns\CrtImporterCategory\Model\Config
            </argument>
            <argument name="fileName" xsi:type="string">
                /var/log/crt-importer-category.log
            </argument>
        </arguments>
    </virtualType>
    <!-- Logger end -->

    <!-- Collector start -->
    <virtualType name="GhostUnicorns\CrtImporterCategory\Collector\Anagrafica\Virtual"
                 type="GhostUnicorns\CrtUtils\Collector\CsvCollector">
        <arguments>
            <argument name="filePath" xsi:type="string">
                /var/import
            </argument>
            <argument name="fileName" xsi:type="string">
                category.csv
            </argument>
            <argument name="identifiers" xsi:type="array">
                <item name="1" xsi:type="string">id</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Collector end -->

    <!-- Refiner start -->
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\Id\Mandatory\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.id</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\Id\Intval\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.id</argument>
            <argument name="greaterThan" xsi:type="number">1</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\ParentId\Mandatory\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.parent_id</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\ParentId\Intval\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.parent_id</argument>
            <argument name="greaterThan" xsi:type="number">0</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\StoreId\Intval\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.store_id</argument>
            <argument name="greaterThan" xsi:type="number">0</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\StoreId\MandatoryAutoFill\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryAutoFillRefiner">
        <arguments>
            <argument name="destination" xsi:type="string">category_data.store_id</argument>
            <argument name="value" xsi:type="string">0</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\Name\Mandatory\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.name</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\Name\Trim\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\TrimRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.name</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\IsActive\MandatoryAutoFill\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryAutoFillRefiner">
        <arguments>
            <argument name="destination" xsi:type="string">category_data.is_active</argument>
            <argument name="value" xsi:type="string">false</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\IsActive\Boolean\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\BooleanRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.is_active</argument>
        </arguments>
    </virtualType>
    <virtualType name="GhostUnicorns\CrtImporterCategory\Refiner\UrlKey\Virtual"
                 type="GhostUnicorns\CrtUtils\Refiner\Json\UrlKeyRefiner">
        <arguments>
            <argument name="field" xsi:type="string">category_data.url_key</argument>
        </arguments>
    </virtualType>
    <!-- Refiner end -->

    <!-- Transferor start -->
    <virtualType name="GhostUnicorns\CrtImporterCategory\Transferor\DefaultStockTransferor\Virtual"
                 type="GhostUnicorns\CrtImporterCategory\Transferor\CategoryTransferor">
        <arguments>
            <argument name="specialAttributes" xsi:type="array">
                <item name="id" xsi:type="string">id</item>
                <item name="parent_id" xsi:type="string">parent_id</item>
            </argument>
        </arguments>
    </virtualType>
    <!-- Transferor end -->












    <!-- Logger start -->
    <!--    <virtualType name="Pipinato\CrtStock\Logger\Virtual"-->
    <!--                 type="Magento\Framework\Logger\Monolog">-->
    <!--        <arguments>-->
    <!--            <argument name="name" xsi:type="string">Pipinato::CrtErp</argument>-->
    <!--            <argument name="handlers" xsi:type="array">-->
    <!--                <item name="debug" xsi:type="object">-->
    <!--                    GhostUnicorns\CrtBase\Logger\Handler\Console-->
    <!--                </item>-->
    <!--                <item name="system" xsi:type="object">-->
    <!--                    Pipinato\CrtStock\Logger\Handler\File\Virtual-->
    <!--                </item>-->
    <!--            </argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Logger\Handler\File\Virtual"-->
    <!--                 type="GhostUnicorns\CrtBase\Logger\Handler\File">-->
    <!--        <arguments>-->
    <!--            <argument name="config" xsi:type="object">-->
    <!--                Pipinato\CrtStock\Model\Config-->
    <!--            </argument>-->
    <!--            <argument name="fileName" xsi:type="string">-->
    <!--                /var/log/crt-erp-stock.log-->
    <!--            </argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    &lt;!&ndash; Logger end &ndash;&gt;-->

    <!--    &lt;!&ndash; Collector start &ndash;&gt;-->
    <!--    <virtualType name="Pipinato\CrtStock\Collector\GetStockSingleMsi\Virtual"-->
    <!--                 type="Pipinato\CrtErpAdaptor\Collector\WebJsonCollector">-->
    <!--        <arguments>-->
    <!--            <argument name="identifiers" xsi:type="array">-->
    <!--                <item name="1" xsi:type="string">WareHouseCode</item>-->
    <!--                <item name="2" xsi:type="string">VariationCode</item>-->
    <!--            </argument>-->
    <!--            <argument name="resourceMethod" xsi:type="string">GET</argument>-->
    <!--            <argument name="resourceName" xsi:type="string">api/PipinatoStocks/GetVariationStoresInfo</argument>-->
    <!--            <argument name="getBody" xsi:type="object">Pipinato\CrtStock\Model\Body\GetVariationStoresInfo</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Collector\CheckVariationsAvailable\Virtual"-->
    <!--                 type="Pipinato\CrtErpAdaptor\Collector\WebJsonCollector">-->
    <!--        <arguments>-->
    <!--            <argument name="identifiers" xsi:type="array">-->
    <!--                <item name="1" xsi:type="string">VariationCode</item>-->
    <!--            </argument>-->
    <!--            <argument name="responseFixedWrapper" xsi:type="string">stocksAvailables</argument>-->
    <!--            <argument name="resourceMethod" xsi:type="string">POST</argument>-->
    <!--            <argument name="resourceName" xsi:type="string">api/PipinatoStocks/CheckVariationsAvailable</argument>-->
    <!--            <argument name="getBody" xsi:type="object">Pipinato\CrtStock\Model\Body\CheckVariationsAvailable</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    &lt;!&ndash; Collector end &ndash;&gt;-->

    <!-- Refiner start -->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\Id\Mandatory\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.id</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\Id\Intval\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.id</argument>-->
    <!--            <argument name="greaterThan" xsi:type="number">1</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\ParentId\Mandatory\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.parent_id</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\ParentId\Intval\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.parent_id</argument>-->
    <!--            <argument name="greaterThan" xsi:type="number">0</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\StoreId\Intval\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\IntvalRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.store_id</argument>-->
    <!--            <argument name="greaterThan" xsi:type="number">0</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\StoreId\MandatoryAutoFill\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryAutoFillRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="destination" xsi:type="string">category_data.store_id</argument>-->
    <!--            <argument name="value" xsi:type="string">0</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\Name\Mandatory\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.name</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\Name\Trim\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\TrimRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.name</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\IsActive\MandatoryAutoFill\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\MandatoryAutoFillRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="destination" xsi:type="string">category_data.is_active</argument>-->
    <!--            <argument name="value" xsi:type="string">false</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\IsActive\Boolean\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\BooleanRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.is_active</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!--    <virtualType name="Pipinato\CrtStock\Refiner\UrlKey\Virtual"-->
    <!--                 type="GhostUnicorns\CrtUtils\Refiner\Json\UrlKeyRefiner">-->
    <!--        <arguments>-->
    <!--            <argument name="field" xsi:type="string">category_data.url_key</argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!-- Refiner end -->

    <!-- Transferor start -->
    <!--    <virtualType name="Pipinato\CrtStock\Transferor\DefaultStockTransferor\Virtual"-->
    <!--                 type="Pipinato\CrtStock\Transferor\CategoryTransferor">-->
    <!--        <arguments>-->
    <!--            <argument name="logger" xsi:type="object">-->
    <!--                Pipinato\CrtStock\Logger\Virtual-->
    <!--            </argument>-->
    <!--            <argument name="config" xsi:type="object">-->
    <!--                Pipinato\CrtStock\Model\Config-->
    <!--            </argument>-->
    <!--            <argument name="specialAttributes" xsi:type="array">-->
    <!--                <item name="id" xsi:type="string">id</item>-->
    <!--                <item name="parent_id" xsi:type="string">parent_id</item>-->
    <!--            </argument>-->
    <!--        </arguments>-->
    <!--    </virtualType>-->
    <!-- Transferor end -->
</config>
